DB_NAME=postgres
DB_USER=postgres
DB_PWD=postgres
DB_HOST=db
DB_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379

BOT_TOKEN=

MINIO_HOST=minio
MINIO_PORT=9000
MINIO_SSL=False

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=products

YOOKASSA_TOKEN=

LOG_DIR=logs
LOG_FILE=bot.log